<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container-fluid">
        <a href="/home"><button class="btn btn-success">Dashboard</button></a>

        <div class="row mt-5">

            <div class="col-sm-6">
                <div class="alert alert-success" style="text-align: center;" role="alert">
                    BUY
                </div>
                <table id="Table" class="table table-striped table-bordered mt-5 mb-5">
                    <thead>
                        <tr>
                            {% for header in header2 %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for records in data2 %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{records[1]}}</td>
                            <td>{{records[2]}}</td>
                            <td>{{records[3]}}</td>
                            <td>{{records[4]}}</td>
                            <td>{{records[5]}}</td>


                        </tr>

                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">DELETE USER</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <H5> are you sure want to delete this user ? </H5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="/user-delete?id={{records[0]}}"><button class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </tbody>

                </table>

            </div>




            <div class="col-sm-6">
                <div class="alert alert-primary" role="alert" style="text-align: center;">
                    SELL
                </div>
                <table id="Table2" class="table table-striped table-bordered mt-5 mb-5">
                    <thead>
                        <tr>
                            {% for header in header %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for records in data %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{records[1]}}</td>
                            <td>{{records[2]}}</td>
                            <td>{{records[3]}}</td>
                            <td>{{records[4]}}</td>
                            <td>{{records[5]}}</td>


                        </tr>

                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">DELETE USER</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <H5> are you sure want to delete this user ? </H5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="/user-delete?id={{records[0]}}"><button class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </tbody>

                </table>

            </div>




        </div>
    </div>



    <!--   Core JS Files   -->
    <script src="../static/js/core/jquery.min.js"></script>
    <script src="../static/js/core/popper.min.js"></script>
    <script src="../static/js/core/bootstrap-material-design.min.js"></script>
    <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="../static/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../static/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../static/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../static/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../static/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../static/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>




    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function() {
            var t = $('#Table').DataTable({
                dom: 'Bfrtip',
                order: [
                    [1, "asc"]
                ],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $(".dt-button").addClass("btn btn-success");

        });
    </script>


    <script>
        $(document).ready(function() {
            var t = $('#Table2').DataTable({
                dom: 'Bfrtip',
                order: [
                    [1, "asc"]
                ],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $(".dt-button").addClass("btn btn-primary");

        });
    </script>







</body>

</html>